{% extends "navigation.html" %}
{% block container %}
<div class="container">
    <h2>{{ group.group }}様 注文フォーム</h2>

    {% load static %}
    <form action="/order_update_form/{{ group.url_uuid }}/{{ update_order.id }}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>{{ form.user_name.label }}</label>
          {{ form.user_name }}
          {{ form.user_name.errors }}
        </div>
        <div class="form-group">
            <!--<label>{{ form.curry.label }}</label>-->
            {% for radio in form.curry %}
            {{ radio.tag }}
            <label>{{ radio.choice_label }}</label>
            {% endfor %}
            {{ form.curry.errors }}
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">注文</button>
    </form>

    <h2 class="order-sum">合計　{{ order_sum }}円</h2>

    <table border="1px">
        <tr class="header"><th>ユーザー名</th><td>品名</td><td>金額</td></tr>
        {% for order in order_list %}
        <tr><th><a href="/order_update_form/{{ group.url_uuid }}/{{ order.id }}">{{ order.user_name }}</a></th><td>{{ order.curry.name }}</td><td>{{ order.curry.price }}</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
