{% extends "navigation.html" %}
{% block container %}
<div class="container">
    <p><a href="/order_form/{{ group.url_uuid }}" class="back-button">戻る</a></p>

    <p><h2>{{ group.group }}様 注文フォーム</h2></p>

    {% load static %}
    <form action="/order_update_form/{{ group.url_uuid }}/{{ update_order.id }}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>{{ form.user_name.label }}</label>
          {{ form.user_name }}
          {{ form.user_name.errors }}
        </div>
        <div class="form-group">

            {% for radio in form.curry %}
            <div class="curry-select">
            {{ radio.tag }}
            </div>
            {% endfor %}
            {{ form.curry.errors }}
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">更新</button>
    </form>

    <a href="/order_delete_form/{{ group.url_uuid }}/{{ update_order.id }}" class="btn btn-secondary" role="button" aria-pressed="true">注文削除</a>

    <h2 class="order-sum">合計　{{ order_sum }}円</h2>

    <table border="1px">
        <thead>
            <tr class="header"><th>ユーザー名</th><td>品名</td><td>金額</td></tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr><th><a href="/order_update_form/{{ group.url_uuid }}/{{ order.id }}">{{ order.user_name }}</a></th><td>{{ order.curry.name }}</td><td>{{ order.curry.price }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
